version: "3.8"

services:
  db:
    image: "postgres:15-alpine"
    container_name: "postgres_db"
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: main_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: fastapi_server
    restart: always
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/main_db
      SECRET_KEY: SECRET_KEY

  frontend:
    build: ./frontend
    container_name: angular_client
    restart: always
    command: ng serve --host 0.0.0.0 --poll 2000
    volumes: -frontend:/app
      -app/node_modules
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  postgres_data:
